* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg: #ebe9e5e8;
  --main-bg: #fffdfa;
  --color: #333;
  --header-bg: #ffd9a0;
    --header-color: linear-gradient(90deg, orange, orangered);
  --icon-color: #0d0d0d;
  --shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.1);
  --preloader-bg: linear-gradient(135deg, #807d7d, #f5f5dc);
  --infoNote-bg: #ff4500;
  --infoNote-color: #fff3cd;
  --filter: blur(20px) brightness(90%);
    --bottomNav-color: #e3e3e3;
  --active-color: #ff4500;
  --padding: 10px;
  --font-size: 1rem;
  --radius: 8px;
  --btn-bg: #ff6a00;
    --link-color: #ff7300;
  --link-color-hover: #f59f1d;
}
body.darkMode {
  --link-color: #f59f1d;
  --link-color-hover: #ff7300;
  --bg: #464545;
  --main-bg: #1e1e1e;
  --color: #ffffff;
  --header-bg: #ffa500;
  --header-color: #0d0d0d;
  --shadow: 0 2px 30px 2px rgb(0, 0, 0);
  --preloader-bg: linear-gradient(135deg, #0d0d0d, #1e1e1e);
  --infoNote-bg: #fff3cd;
  --infoNote-color: #ff4500;
  --filter: blur(60px) brightness(60%);
  --bottomNav-color: #1e1e1e;
  --active-color: #ffff00;
  --icon-color: #ffffff;
  --toast-color-success: green;
  --toast-color-error: #ff4500;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  transition: background-color 0.9s ease, color 0.9s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Push footer to the bottom */
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--color);
  line-height: 1.6;
  font-size: var(--font-size);
}

/*PRELOADER*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--preloader-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
}
#preloader .logo {
  animation: slideIn 4s ease;
}
@keyframes slideIn {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

header {
  display: flex;
  background: var(--header-bg);
  padding: 0 var(--padding);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  height: 50px;
  max-height: 95px;
}
header .logo {
   background: var(--header-color);
        background-clip: text;
        color: transparent;
      }
      .logo {
  font-weight: 600;
  margin: 3px 10px 2px 5px;
  font-size: 1.5rem;
  color: var(--color);
}
/*MAIN ELEMENT*/
main {
  flex: 1;
  animation: slideup 1s ease;
  max-width: 100vw;
  overflow-x: hidden;
  min-width: 90%;
  margin: 20px auto 70px;
  padding: calc(var(--padding) * 2);
  background-color: var(--main-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
#toast {
  visibility: hidden; /* Hidden by default */
  min-width: 250px;
  margin: 0 auto;
  backdrop-filter: var(--filter);
  color: var(--toast-color-success);
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

/* Show the toast */
#toast.show {
  visibility: visible;
  opacity: 1;
}
#toast.error {
  visibility: visible;
  opacity: 1;
  color: var(--toast-color-error);
}
.infoNote a {
  text-decoration: underline;
  color: #ff9900;
  font-weight: 900;
}
.infoNote {
  text-align: center;
  background-color: var(--infoNote-bg);
  color: var(--infoNote-color);
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 1rem;
}
/*LOADER ANIMATION*/
.loadBar {
  background: rgba(255, 217, 111, 0.9);
  width: 190px;
  height: 4px;
  overflow-x: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.loadLine,
.loadBar {
  border-radius: calc(var(--radius) / 2);
}
.loadLine {
  background: #ff4500;
  height: 4px;
  width: 100px;
  animation: movingLine 0.9s alternate infinite;
}
@keyframes movingLine {
  from {
    transform: translateX(-100px);
    width: 20px;
  }
  to {
    transform: translateX(200px);
  }
}
/*SLIDEUP AND FADEIN ANIMATION FOR MAIN ELEMENT*/
@keyframes slideup {
  from {
    opacity: 0;
    margin: 100px auto;
  }
  to {
    opacity: 1;
    margin: 20px auto;
  }
}
a {
  transition: 0.4s;
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}
.upperNavContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
/*USER PROFILE LINK*/
a.userProfileLink {
  width: 60px;
  height: 60px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*USER PROFILE IMAGE STYLE*/
a .profileImg {
  width: 50px;
  height: 50px;
  margin-top: 4px;
}
a.userProfileLink span {
  color: var(--color);
  font-size: clamp(0.6rem, 2vw, 10%);
  margin: 0;
}

.social-icons a {
  color: var(--color);
  font-size: 28px;
  margin: 0 12px;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: var(--header-bg);
}


#bottomNavContainer {
  display: none;
}
@media (max-width: 394px) {
  a.toastNavLink {
    display: none;
  }
  #bottomNavContainer {
    display: flex;
    margin: 0;
    position: fixed;
    z-index: 9;
    bottom: -1px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px calc(var(--padding) * 2);
    flex-wrap: wrap;
    background-color: var(--bottomNav-color);
    border-radius: var(--radius) var(--radius) 0 0;
  }
  #bottomNavContainer a {
    width: calc(var(--font-size) * 2);
    height: 100%;
    color: var(--icon-color);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  #bottomNavContainer a svg {
    margin: 0;
    padding: 0;
  }

  #bottomNavContainer a:hover {
    opacity: 0.8;
    border-top: 1px solid;
    text-decoration: none;
    transform: translateY(-1px);
  }

  #bottomNavContainer a.active{
    color: var(--active-color);
    padding: 4px;
    transform: scale(1.09);
        border-top: 1px solid;

  }
  #bottomNavContainer a[href*="favs"] svg {
    transform: scale(0.9);
  }
  #bottomNavContainer a[href*="videos"] svg {
    margin: 3px 3px 0 0;
  }
  #bottomNavContainer span {
    font-size: 0.6rem;
    font-weight: 600;
  }
  
}

#otherAppsIcon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 28px;
  height: 28px;
  gap: 4px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 99999;
}
#otherAppsIcon span {
  background: var(--color);
  width: 5px;
  height: 5px;
  margin: 0;
}
#sidebar #FromScybud {
  position: absolute;
  left: 40px;
  bottom: 30px;
  padding: 0;
  background: var(--bg);
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.7s ease;
}
#sidebar #FromScybud.showApps {
  padding: 10px;
  width: auto;
  height: auto;
}
#scybudApps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
#scybudApps a {
  text-decoration: none;
  border: none;
  border-radius: 20px;
}
#scybudApps .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#scybudApps a span {
  margin-top: 5px;
  color: var(--color);
  font-size: calc(var(--font-size) / 1.5);
}
#scybudApps .container img {
  border-radius: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-color: var(--infoNote-bg);
}
#scybudApps img:hover {
  transform: scale(1.06);
}
.mayHide.hideSection {
  display: none;
}
.modalContentContainer {
  color: var(--color);
  position: relative;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background: var(--main-bg);
  border: 2px solid var(--btn-bg);
  backdrop-filter: blur(100px) brightness(60%);
}
.modalContentContainer h2 {
  color: var(--color);
}
.popupModal {
  display: flex;
  justify-content: center;
  align-items: center;
width: 100vw;
height: 100dvh;
position: fixed;
top: 0;
left: 0;
backdrop-filter: blur(10px);
}
.closeModal {
  position: absolute;
  right: 12px;
  top: 12px;
}
.loginBtn {
  border: none;
  padding: 14px;
  width: 100%;
  text-align: center;
  color: var(--color);
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px auto;
  min-width: 40%;
  background: none;
  border: 2px solid var(--btn-bg);
  text-decoration: none;
}

.loginBtn:hover {
  background: var(--btn-bg);
  color: var(--color);
    text-decoration: none;
}

.upperFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedbackBtn svg{
  color: beige;
  padding: 4px;
  width: 40px;
  height: 40px;
}
.feedbackBtn svg:hover {
  color: var(--link-color-hover);
}
  footer {
    text-align: center;
    color: var(--color);
    box-shadow: var(--shadow);
    background-color: var(--main-bg);
  }
  
  .footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
    .footerLinks {
        display: flex;
        flex-direction: column;
      }

.ad-slot {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  margin: 1.5rem 0;
}