
#videosPage {
  flex-direction: column;
  display: flex;
  height: auto;
  width: auto;
}

iframe {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  position: sticky;
  top: 0;
  border-radius: 20px;
}

.snackImage {
  text-align: center;
  text-decoration: none;
  color: #f1f1f1;
  width: 150px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  background-color: #141414;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.snackImage img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 5px;
}
#suggestions {
  display: flex;
  margin: 20px;
  font-weight: bolder;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  list-style: none;
  font-weight: bold;
  padding: 0;
  flex-direction: row;
  align-items: center;
}

.snackImage:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgba(119, 116, 116, 0.462);
}
section {
  margin-bottom: 40px;
}
h2 {
  color: #e65c00;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffa94d;
  padding-bottom: 5px;
}
h3 {
  margin-top: 10px;
  color: orangered;
}

ul,
ol {
  padding-left: 20px;
  margin-top: 8px;
}

ul li,
ol li {
  margin-bottom: 6px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .snackImage {
    width: 100%;
  }

  img:focus {
    width: 100%;
  }
}
img {
  width: 250px;
  max-width: 100%;
  border-radius: 16px;
  transition: all 0.5s ease;
}
img:hover {
  transform: scale(1.02);
}
a {
  text-decoration: none;
  color: orangered;
}

a:hover {
  text-decoration: underline;
}

