html {
  scroll-behavior: smooth;
}
body {
  font-family: arial, sans-serif;
  background-color: rgb(94, 94, 94);
  color: white;
  line-height: 1.6;
  padding: 10px;
  font-size: 20px;
  font-display: swap;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 2px 30px 2px rgb(0, 0, 0);
}
#videosPage {
  flex-direction: column;
  display: flex;
  height: auto;
  width: auto;
}

iframe {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: sticky;
  top: 0;
  border-radius: 20px;
}

.snackImage {
  text-align: center;
  text-decoration: none;
  color: #f1f1f1;
  width: 150px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  background-color: #141414;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.snackImage img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 5px;
}
#suggestions {
  display: flex;
  margin: 20px;
  font-weight: bolder;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  list-style: none;
  font-weight: bold;
  padding: 0;
  flex-direction: row;
  align-items: center;
}

.snackImage:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(223, 223, 223, 0.9);
}
section {
  margin-bottom: 40px;
}
h2 {
  color: #e65c00;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffa94d;
  padding-bottom: 5px;
}
h3 {
  margin-top: 10px;
  color: orangered;
}

ul,
ol {
  padding-left: 20px;
  margin-top: 8px;
}

ul li,
ol li {
  margin-bottom: 6px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .snackImage {
    width: 100%;
  }
  .snackImage:hover {
    transform: scale(1.04);
    box-shadow: 0 0 10px yellow;
  } 
  
  img:focus {
      width: 100%;
  }
}
img {
  width: 250px;
  max-width: 100%;
  border-radius: 16px;
  transition: all 0.5s ease;
}
img:hover {
  transform: scale(1.05);
}
a {
  text-decoration: none;
  color: orangered;
}

a:hover {
  text-decoration: underline;
}

#bot-question {
  color: black;
}
form {
  max-width: 400px;
  width: 70vw;
  max-height: auto;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #3e3e3e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px #969696;
}
#recipeSubmissionForm {
  color: black;
}
input {
  height: 25px;
  width: 95%;
  border: black solid 2px;
}
textarea {
  height: 50px;
  width: 95%;
  border: black solid 2px;
}
input:focus {
  border-radius: 8px;
  border-color: red;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 35px;
  width: 100%;
  transition: all 0.5s ease;
}
textarea:focus {
  border-radius: 8px;
  border-color: red;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 60px;
  width: 100%;
  transition: all 0.5s ease;
}

label {
  display: inline-block;
  font-size: large;
}
button {
  color: white;
  background-color: orangered;
  border-radius: 15px;
  width: 150px;
  height: auto;
  font-size: 19px;
  padding: 5px;
}
button:hover {
  color: black;
  background-color: orange;
  border-radius: 30px;
  width: 150px;
  height: 35px;
}
.social-icons a {
  color: white;
  font-size: 28px;
  margin: 0 12px;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #e69500;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: whitesmoke;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  height: auto;
  width: auto;
  bottom: 0;
}
