* {
  box-sizing: border-box;
}

/* Popup styling */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  color: black;
}

#popup-content {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(49, 48, 48);
  border-radius: 8px;
  box-shadow: 0 2px 30px 2px rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: arial, sans-serif;
  background-color: gray;
  color: white;
  line-height: 1.6;
  padding: 10px;
}

input {
  max-width: 400px;
  height: 35px;
  margin: 0 4px 0 4px;
  width: 75vw;
  border: black solid 2px;
  margin-left: 4px;
  border-radius: 20px;
}
textarea {
  height: 60px;
  width: 300px;
  border: black solid 2px;
}
input:focus {
  border-radius: 8px;
  border-color: red;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 45px;
  transition: all 0.7s ease;
}
form {
  max-width: 500px;
  width: 85vw;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 50px 5px black inset;
}
form a {
  color: yellow;
  text-decoration: underline;
}
#login-form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
label {
  display: block;
  font-size: large;
}

h3 {
  text-align: center;
}

.social-icons a {
  color: white;
  font-size: 28px;
  margin: 0 12px;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #e69500;
}
#popup button,
button {
  background-color: #fe4401;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 150px;
  height: auto;
  padding: 5px;
  margin: 10px 75px 0;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

button:hover {
  background-color: orange;
  color: black;
  border-radius: 10px;
  font-size: larger;
  width: 150px;
  height: 35px;
  cursor: pointer;
  box-shadow: 0px 6px 10px black;
}


a {
  text-decoration: none;
  color: orange;
}
