main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 2px 30px 2px rgb(0, 0, 0);
}

body {
  font-family: arial, sans-serif;
  background-color: rgb(94, 94, 94);
  color: white;
  line-height: 1.6;
  padding: 10px;
  font-size: 20px;
  font-display: swap;
}


section {
  margin-bottom: 40px;
}

h2 {
  color: #ff9d00;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffa94d;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: rgb(229, 255, 0);
}

a:hover {
  text-decoration: underline;
}
