/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh; /* required for scrolling */
  background: #1e1e1e;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: left 0.6s ease;
  border-radius: 10px;
  color: beige;
  overflow-y: auto; /* enables vertical scrolling */
  overflow-x: auto; /* prevents side scroll */
}
/* SIDEBAR SCROLLBAR */
/* width */
#sidebar::-webkit-scrollbar {
  width: 12px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
  background: #444; /* softer dark */
  border-radius: 10px;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

/* Handle hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #e0bf00; /* darker yellow, still consistent */
}

#sidebar.show {
  left: 0; /* slide in */
  border-radius: 10px;
}
.actionBtns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Menu Icon */
.menu-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}
.menu-icon span {
  background: #f5f5f5;
  width: 25px;
  height: 4px;
  display: block;
  margin: 4px 0;
  border-radius: 10px;
  transition: 0.6s;
}
#menuIconContainer {
  display: flex;
  align-items: center;
}

/* Dark Mode button */
#dark-mode:hover {
  background: linear-gradient(90deg, orange, yellow);
  transform: scale(1.1);
}
span {
  color: beige;
  font-size: 24px;
}
nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  list-style: none;
  font-weight: bold;
  flex-direction: row;
  overflow-y: auto; /* enables vertical scrolling */
  overflow-x: auto;
}

@media (max-width: 600px) {
  /* Sidebar */
  #sidebar {
    width: 85vw;
  }
}
.page-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.page-nav a {
  display: block;
  width: 100%; /* Every link becomes equal width */
  text-align: center;
  border: 2px solid yellow;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.page-nav a:hover {
  text-decoration: none;
  border: 2px solid orange;
  transform: scale(1.05);
  border-radius: 10px;
  background: #282828;
}
