
/* Sidebar */
#sidebar {
  position: fixed;
  top: 10px;
  left: -80vw; /* hidden by default */
  width: 50vw;
  height: 100vh;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  transition: left 0.6s ease;
  overflow-x: hidden;
}
#sidebar.show {
  left: 0; /* slide in */
  border-radius: 10px;
}

/* Menu Icon */
.menu-icon {
  width: 25px;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}
.menu-icon span {
  background-color: black;
  width: 25px;
  height: 4px;
  display: block;
  margin: 5px 5px;
  border-radius: 10px;
  transition: 0.6s;
}
#menuIconContainer {
  display: flex;
  align-items: center;
}
/* Dark Mode button */
#dark-mode {
  margin: 10px auto;
  border-radius: 5px;
  background-color: #ffbe5b;
  color: black;
  font-size: 15px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}
#dark-mode:hover {
  background: linear-gradient(90deg, orange, yellow);
  transform: scale(1.1);
}
span {
  color: black;
  font-size: 24px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  list-style: none;
  font-weight: bold;
  flex-direction: row;
}

@media (max-width: 600px) {
  /* Menu Icon */
  .menu-icon {
    width: 25px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
  }
  .menu-icon span {
    background-color: rgb(0, 0, 0);
    width: 25px;
    height: 4px;
    display: block;
    margin: 5px 0;
    border-radius: 10px;
    transition: 0.6s;
  }
  /* Sidebar */
  #sidebar {
    top: 15px;
    left: -100%; /* hidden by default */
    width: 90vw;
  }
  #sidebar.show {
    left: 0; /* slide in */
  }

  /* Dark Mode button */
  #dark-mode {
    margin: 10px auto;
    border-radius: 5px;
    background-color: #ff9900;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
  }
  #dark-mode:hover {
    background: linear-gradient(90deg, orange, yellow);
    transform: scale(1.1);
  }
  /* Sidebar links */
  .page-nav a {
    margin-top: 0;
    text-decoration: none;
    color: black;
    border: 2px solid yellow;
    border-radius: 10px;
  }
  .page-nav a:hover {
    transform: scale(1.05);
  }
}
span {
  color: black;
  font-size: 24px;
}
.page-nav {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 40px auto 0;
}
.page-nav a {
  padding: 0 auto;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid yellow;
  border-radius: 10px;
  width: 150px;
}
.page-nav a:hover {
  text-decoration: none;
  transition: transform 0.4s ease, border 0.2s;
  border: 2px solid orange;
  transform: scale(1.05);
  border-radius: 10px;
}
