* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: beige;
  color: #333;
  text-align: center;
  animation: colorChange 5s infinite;
  background-color: rgb(94, 94, 94);
}
h1 {
  font-weight: bolder;
  padding-top: 20px;
}
#logo {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: black 10px;
  border-radius: 50%;
  transition: all 0.5s ease;
  margin: 10px;
}
#logo:hover {
  width: 200px;
  height: 200px;
}
p {
  font-size: larger;
  font-weight: light;
  padding: 20px 5px 10px 5px;
}
@keyframes slideup {
  from {
    margin: 500px auto;
  }
  to {
    margin: 80px auto;
  }
}
main {
  animation: slideup 2s ease;
  border-radius: 15px;
  margin: 80px auto;
  max-width: 600px;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
/* Responsive Design */
@media (max-width: 600px) {
  main {
    width: 95%;
  }
  button {
    display: block;
    width: 90%;
  }
}
/* Buttons */
button {
  background: #ff6a00;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px auto;
}

button:hover {
  background: #ff8b1a;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.social-icons a {
  color: black;
  font-size: 28px;
  margin: 0 12px;
  text-decoration: none;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: orangered;
}
footer {
  text-align: center;
  margin-top: 30px;
  color: whitesmoke;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  height: auto;
  width: auto;
  bottom: 0;
}

/* Links */
a {
  color: #ffb03a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
