* {
  box-sizing: border-box;
}

/*PRELOADER*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--preloader-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
}
/*LOADER ANIMATION*/
.loadBar {
  background: rgba(255, 217, 111, 0.9);
  width: 190px;
  height: 4px;
  overflow-x: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.loadLine,
.loadBar {
  border-radius: calc(var(--radius) / 2);
}
.loadLine {
  background: #ff4500;
  height: 4px;
  width: 100px;
  animation: movingLine 0.9s alternate infinite;
}
@keyframes movingLine {
  from {
    transform: translateX(-100px);
    width: 20px;
  }
  to {
    transform: translateX(200px);
  }
}
#preloader h1 {
  animation: slideIn 4s ease;
}
@keyframes slideIn {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

:root {
    --link-border: yellow;
    --form-bg: #272727;
    --input-textarea-bg: #1d1d1d;
  --input-textarea-color: #fff;
  --input-textarea-border: #444;
  --link-color: #ff7300;
  --link-color-hover: #f59f1d;
  --btn-bg: #ff6a00;
  --bg: #464545;
  --main-bg: #1e1e1e;
  --color: #ffffff;
  --padding: 10px;
  --font-size: 1rem;
  --radius: 8px;
  --header-bg: #ffa500;
  --header-color: #ececec;
  --shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.402);
  --preloader-bg: linear-gradient(135deg, #0d0d0d, #1e1e1e);
  --infoNote-bg: #fff3cd;
  --infoNote-color: #ff4500;
  --filter: blur(60px) brightness(60%);
  --active-color: #ffff00;
  --icon-color: #ffffff;
  --toast-color-success: green;
  --toast-color-error: #ff4500;
}
body.lightMode {
  --link-border: orange;
    --input-textarea-bg: #ffffff;
  --input-textarea-color: #1a1a1a;
  --input-textarea-border: #cfcfcf;
    --form-bg: #f5f5f5;
  --bg: #ebe9e5e8;
  --main-bg: #fffdfa;
  --color: #333;
  --header-bg: #ffd9a0;
  --header-color: #0d0d0d;
  --shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.1);
  --preloader-bg: linear-gradient(135deg, #807d7d, #f5f5dc);
  --infoNote-bg: #ff4500;
  --infoNote-color: #fff3cd;
  --filter: blur(20px) brightness(90%);
  --active-color: #ff4500;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  color: var(--color);
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  background-color: var(--bg);
  line-height: 1.6;
}
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

header {
  background: var(--header-bg);
  color: var(--header-color);
  padding: 0 10px;
  position: sticky;
  
    top: 0;
  z-index: 2;
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: minmax(20px, 90px) 1fr minmax(20px, 90px);
}

a {
  text-decoration: none;
}
header a h1:hover {
  opacity: 0.8;
}
header a h1 {
  color: var(--header-color);
  font-size: 1.5em;
}
main {
  display: grid;
  gap: 22px;
  grid-template-columns: 300px 1fr;
}
.mainContents {
  width: 100%;
  border-radius: 10px;
  margin: 10px auto;
  padding: 30px;
  background-color: var(--main-bg);
  box-shadow: var(--shadow);
}
a {
  color: var(--link-color);
  transition: opacity 0.3s ease ;
}
a:hover {
  opacity: 0.6;
}
.post {
  position: relative;
  display: flex;
}
.post p {
  white-space: normal;
  overflow-wrap: break-word;
}
.post h2 {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
}
.post h3 {
    font-size: clamp(1rem, 2vw, 1.1rem);
  position: sticky;

  padding: 0 0 10px;
  margin: 6px 0 0;
  border-bottom: 2px solid var(--color);
  top: 0;
  background-color: var(--main-bg);
}
.postContainer {
  color: var(--color);
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px 10px;
  margin-bottom: 10px;
  max-height: 350px;
  overflow-y: hidden;
  width: 100%;
  box-shadow: var(--shadow);
}
.postContainer.clicked {
   overflow-y: auto;
}
/* Post container SCROLLBAR */
/* width */
.postContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.postContainer::-webkit-scrollbar-track {
  background: #444; /* softer dark */
  border-radius: 10px;
}

/* Handle */
.postContainer::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

/* Handle hover */
.postContainer::-webkit-scrollbar-thumb:hover {
  background: #e0bf00; /* darker yellow, still consistent */
}
.seeMore {
  width: fit-content;
  position: absolute;
  bottom: 0;
  margin: 20px 0;
  right: 0;
  background-color: var(--bg);
  color: var(--color);
  padding: 8px;
}
.seeMore:hover {
  background-color: var(--form-bg);
}
#forminputbtn {
  outline: none;
  border: none;
  background-color: var(--bg);
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 400px;
  height: 40px;
}
#forminputbtn:hover {
  opacity: 0.9;
}
#postedContent {
  width: 100%;
}

.paceholderText {
  opacity: 0.4;
  color: #ccc;
  font-size: small;
}
.timeStamp {
  opacity: 0.3;
  color: #ccc;
}

form {
  width: 100%;
  max-width: 480px;
  margin: auto;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--form-bg);
  border-radius: 12px;
}
/* Form Labels */
label {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

/* Inputs */
input,
textarea {
  width: 100%;
  padding: 14px;
  margin: 0;
  border-radius: 10px;
  background: var(--input-textarea-bg);
  border: 2px solid var(--input-textarea-border);
  color: var(--input-textarea-color);
  transition: 0.25s;
}
textarea {
  min-height: 120px;
}
input:focus,
textarea:focus {
  border-color: #ff8800;
  box-shadow: 0 0 0 3px rgba(255, 136, 0, 0.3);
  outline: none;
}
a.backBtn {
  text-decoration: none;
  border-radius: 8px;
  background: var(--btn-bg);
  padding: 6px;
  margin-bottom: 12px;
  color: beige;
  transition: opacity 0.5s ease;
  font-size: clamp(1.3rem, 1.5rem, 1.5rem);
}
.recipePageLink {
    background: var(--btn-bg);
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px auto;
  color: var(--color);
}
/* Button */
button {
  background: var(--btn-bg);
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px auto;
}
form button {
  min-width: 100%;
}
button:hover, .recipePageLink:hover {
  background: #ff8b1a;
  transform: translateY(-2px);
  box-shadow: var(--shadow);
}
button:focus, .recipePageLink:focus {
  opacity: 0.9;
}
.profileImg {
  width: 40px;
  margin: 0 10px 0 0;
  color: var(--color);
  height: 40px;
  padding: 5px;
  border: 2px solid #e69500;
  border-radius: 50%;
  transition: border-radius 0.5s ease, background-color 0.5s ease;
}
.postHeader h2, .postHeader p  {
  padding: 0;
  margin: 0;
}
.profileImg:hover {
  border-radius: var(--radius);
  background-color: var(--bg);
}

@media (max-width: 600px) {
  main {
    width: 98%;
    padding: 12px;
  }
}
aside.sidebar {
  background-color: var(--form-bg);
  height: 100dvh;
  position: sticky;
  padding-top: 90px;
  top: 0;
  left: 0;
}
aside.sidebar nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
a.page-nav {
  text-align: center;
  border: 1px solid var(--link-border);
  border-radius: 10px;
  transition: all 0.4s ease;
  color: var(--span);
  width: 90%;
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(#5656564b 0 0) left/0 100% no-repeat;
}
hr {
  width: 100%;
}
aside h2 {
  margin: 0;
  padding: 0;
}
a.page-nav:hover {
  background-size: 100% 100%;
  text-decoration: none;
  transform: scale(1.02);
  border-radius: 10px;
}

@media (max-width: 800px) {
  aside {
    display: none;
  }
  main {
    padding: 0;
    grid-template-columns: auto;
  }
  .mainContents {
    padding: 10px 4px 10px;
  }
}