 main {
        margin-top: 20px;
      }
      .fav-link {
        display: flex;
        justify-content: center;
      }
      .fav-link a {
        margin-right: 20px;
        color: white;
      }
      #body #favs a {
        transition: all 0.6s ease;
        margin: 5px;
        text-decoration: underline;
      }
      #body a:hover {
        opacity: 0.8;
      }
      #body #favs a:hover::before {
        content: "🧑🏽‍🍳Cook";
        margin-right: 9px;
      }