 main {
        margin-top: 20px;
      }
      #favs {
  display: flex;
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-weight: bold;
}
      .fav-link a {
        margin-right: 20px;
        color: white;
      }
      #body #favs a {
        transition: all 0.6s ease;
        margin: 5px;
        text-decoration: none;
      }
      #body a:hover {
        opacity: 0.8;
      }
      #body #favs a span:hover::before {
        content: "🧑🏽‍🍳Cook";
        margin-right: 9px;
      }
      .snackImage {
  text-align: center;
  text-decoration: none;
  color: var(--snackImg-color);
  border-radius: 6px;
  max-width: 400px;
  width: 100%;
  height: 170px;
  overflow: hidden;
  background-color: var(--snackImg-bg);
  transition:
    transform 0.4s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 0 8px rgba(119, 116, 116, 0.362);
}
.snackImage img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 5px;
}
.snackImage:hover {
      color: var(--snackImg-color);
  transform: scale(1.02);
  box-shadow: 0 0 18px rgb(255, 111, 0);
}

      .backBtn {
        color: white;
  background-color: var(--header-bg);
  display: block;
  margin: 0 auto;
  padding: 10px 5px;
  max-width: 150px;
  text-align: center;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #ff6200;
}
.backBtn:hover {
  background-color: #ff6200;
  color: white;
  text-decoration: none;
}