/* Popup Overlay */
#popup {
  background: rgba(0, 0, 0, 0.65);
 display: none;
justify-content: center;
align-items: center;
width: 100vw;
height: 100dvh;
position: fixed;
z-index: 2222;
top: 0;
left: 0;
backdrop-filter: blur(10px);
}
.showFlex {
  display: flex;
}
/* Popup Box */
#popup-content {
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background: var(--main-bg);
  border: 2px solid var(--btn-bg);
  backdrop-filter: blur(100px) brightness(60%);
  max-width: 600px;
  margin: 0 20px;
  text-align: center;
  animation: fadeIn 0.25s ease;
}
.modalHeader {
  font-size: 1.5rem;
  font-weight: 600;
}
.infoText {
  opacity: 0.5;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideup {
  from {
    margin: 100px auto;
  }
  to {
    margin: 40px auto;
  }
}

.google-btn {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.google-btn svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #3b3b3b;
}

/* Social Icons */
.social-icons a {
  color: #ffd061;
  font-size: 28px;
  margin: 0 10px;
  transition: 0.25s;
}
.social-icons a:hover {
  color: #ff9e00;
}

/* Links */
form a {
  color: #ffb03a;
  text-decoration: none;
}

.infoNoteLogin,
.infoNoteSignup {
  display: none;
  text-align: center;
  background-color: var(--infoNote-bg);
  color: var(--infoNote-color);
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 1rem;
}
p.errorShow {
  display: block;
  animation: blink 2s ease;
}
@keyframes blink {
  0% {
    background: var(--infoNote-bg);
    color: (--infoNote-color);
  }
  25% {
    background: var(--infoNote-color);
    color: (--infoNote-bg);
  }
  30% {
    background: var(--infoNote-bg);
    color: white;
  }
  45% {
    background: var(--infoNote-color);
    color: (--infoNote-bg);
  }
  100% {
    background: var(--infoNote-bg);
    color: (--infoNote-color);
  }
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.disable::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-right-color: #151515;
  border-radius: 50%;
  animation: rotate 0.7s linear infinite;
  display: inline-block;
  margin-right: 10px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.auth-form input {
  margin: 12px 0;
}