body .meta span {
  --border-color: #ffa500;
}

body.lightMode .meta span {
  --border-color: #ff4500;
}
.meta {
  display: flex;
  margin: 20px 0;
  justify-content: space-evenly;
  gap: 12px;
  flex-wrap: wrap;
}
.meta span {
  font-size: 16px;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  padding: 0 9px;
  cursor: default;
  transition: transform 0.5s ease;
}
.meta span:hover {
  transform: scale(1.05);
}
p {
  margin: 0 22px 12px;
}
ul,
ol {
  padding-left: 20px;
  margin-top: 8px;
}

ul li,
ol li {
  margin-bottom: 6px;
}

.flexRecipeContent {
  margin-top: 60px;
  display: grid;
  gap: 80px;
  grid-template-columns: auto minmax(100px, 400px);
}
.flexRecipeContent img {
  order: 2;
}
.flexRecipeContent .recipeTexts {
  order: 1;
}
@media (max-width: 700px) {
  .flexRecipeContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px 2px;
  }
  .flexRecipeContent img {
    order: 1;
  }
  .flexRecipeContent .recipeTexts {
    order: 2;
  }
}

.alsoLike {
  text-align: center;
}