#sidebar {
  --color: #161616;
  --sidebar-bg: beige;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  --link-border: orange;


}
body.darkMode #sidebar {
    --sidebar-bg: #1e1e1e;
  --color: #f5f5dc;
  --icon-color: #161616;
  --shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  --link-border: yellow;
}
.lockScroll {
  overflow: hidden;
}
/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  z-index: 1;
  left: -100%;
  width: 300px;
  box-shadow: var(--shadow);
  height: 100vh; /* required for scrolling */
  background-color: var(--sidebar-bg);
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: left 0.6s ease;
  border-radius: 10px;
  color: var(--color);
  overflow-y: auto; /* enables vertical scrolling */
  overflow-x: auto; /* prevents side scroll */
}
/* SIDEBAR SCROLLBAR */
/* width */
#sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#sidebar::-webkit-scrollbar-track {
  background: #444; /* softer dark */
  border-radius: 10px;
}

/* Handle */
#sidebar::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

/* Handle hover */
#sidebar::-webkit-scrollbar-thumb:hover {
  background: #e0bf00; /* darker yellow, still consistent */
}

#sidebar.show {
  left: 0; /* slide in */
  border-radius: 10px;
}
.actionBtns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* Menu Icon */
.menu-icon {
  width: 1.8rem;
  height: 25px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}
.menu-icon:focus {
  background: #1e1e1e;
}
.menu-icon:hover {
opacity: 0.8;
transform: translateY(-1px);
}
.menu-icon span {
  background: var(--icon-color);
  width: 100%;
  height: 0.2rem;
  display: block;
  margin: 4px 0;
  border-radius: 10px;
  transition: 0.6s;
}

#menuIconContainer {
  display: flex;
  align-items: center;
}

span {
  color: var(--span);
  font-size: 24px;
}
@media (max-width: 600px) {
  /* Sidebar */
  #sidebar {
    width: 85vw;
  }
}
.page-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.page-nav a {
  text-align: center;
  border: 1px solid var(--link-border);
  border-radius: 10px;
  transition: all 0.4s ease;
  color: var(--span);
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(#5656564b 0 0) left/0 100% no-repeat;
}

.page-nav a:hover {
  background-size: 100% 100%;
  text-decoration: none;
  border-color: var(--link-border);
  transform: scale(1.02);
  border-radius: 10px;
  color: var(--span);
}

.page-nav p {
  opacity: 0.3;
  text-align: center;
  margin-top: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
}
.overlay.appear {
  display: block;
}