main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#userDetails {
  height: auto;
}
.userProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userProfileContainer .profileImage:hover {
  transform: scale(1.2);
  border-radius: 10px;
}
.userProfileContainer .profileImage {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 20px auto;
  border: 2px solid #e69500;
  border-radius: 50%;
  transition: border-radius 0.5s ease, transform 0.5s ease;
}
.userProfileContainer span {
  font-size: 16px;
  color: rgb(255, 106, 0);
}
.redActions {
  margin-top: auto;
  width: 100%;
  border-top: 2px solid red;
}
.statsBox {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid orange;
  padding: 0;
  flex-wrap: wrap;
  border-radius: 8px;
}
