main {
      width: 90vw;
}
.userProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userProfileContainer img:hover {
  transform: scale(1.2);
}
.userProfileContainer img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid #e69500;
  border-radius: 50%;
}
.userProfileContainer span {
      font-size: 16px;
      color: rgb(255, 106, 0);
}
