.menuIcon,
.cancelIcon {
  display: none;
}
@media (max-width: 800px) {
  /* Menu Icon */
  .menuIcon {
    display: block;
    width: 1.8rem;
    height: 25px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
  }
  .cancelIcon {
    display: block;
    margin: 20px 0 0 20px;
    position: absolute;
    right: 20px;
    top: -7px;
  }
  .cancelIcon svg {
    border-radius: var(--radius);
    background-color: #ff6b6b;
  }
  .menuIcon:hover {
    opacity: 0.8;
    transform: translateY(-1px);
  }
  .menuIcon span {
    background: var(--color);
    width: 100%;
    height: 0.2rem;
    display: block;
    margin: 4px 0;
    border-radius: 10px;
    transition: 0.6s;
  }
  .menuIconContainer {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  aside.sidebar.show {
    transform: translateX(0%);
  }
  aside.sidebar {
    padding-top: 40px;
    position: fixed;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
    width: 50%;
    z-index: 9999;
  }
 #forminputbtn, .recipePageLink {
    display: none;
  }
}
@media (max-width: 600px) {
  aside.sidebar {
    width: 80%;
  }
}
.writeIcon {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: linear-gradient(to left, var(--bg), var(--form-bg));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 22px;
  right: 12px;
  font-size: 2rem;
  transition: opacity 0.3s ease;
}
.writeIcon:hover {
  opacity: 0.8;
}
