.post {
  position: relative;
  display: flex;
}
.post p {
  white-space: normal;
  overflow-wrap: break-word;
}
.post h2 {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
}
.post h3 {
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  position: sticky;
  padding: 0 0 10px;
  margin: 6px 0 0;
  border-bottom: 2px solid var(--color);
  top: 0;
  background-color: var(--main-bg);
}
.postContainer {
  color: var(--color);
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px 10px;
  margin-bottom: 10px;
  max-height: 450px;
  overflow-y: hidden;
  width: 100%;
  box-shadow: var(--shadow);
}
.postContainer.clicked {
  overflow-y: auto;
  max-height: auto;
}
.postHeader {
  display: flex;
  background: none;
  z-index: 0;
  padding: 0;
  justify-content: space-between;
}
.postHeader .deleteBtn {
  border: none;
  padding: 6px 12px;
  background: #ff6b6b;
  box-shadow: 0 4px 10px rgba(255, 107, 107, 0.3);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.deleteBtn:hover {
  box-shadow: 0 6px 16px rgba(255, 107, 107, 0.4);
}
.postHeader h2,
.postHeader p {
  padding: 0;
  margin: 0;
}
/* Post container SCROLLBAR */
/* width */
.postContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.postContainer::-webkit-scrollbar-track {
  background: #444; /* softer dark */
  border-radius: 10px;
}

/* Handle */
.postContainer::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

/* Handle hover */
.postContainer::-webkit-scrollbar-thumb:hover {
  background: #e0bf00; /* darker yellow, still consistent */
}
.post img {
  max-width: 100%;
  width: auto;
  max-height: 350px;
  margin: 0 auto 20px;
  border-radius: var(--radius);
}
.seeMore {
  width: fit-content;
  position: absolute;
  bottom: 0;
  margin: 20px 0 12px;
  right: 4px;
  background-color: var(--bg);
  color: var(--color);
  padding: 8px 24px;
}
.seeMore:hover {
  background-color: var(--form-bg);
}

#postedContent {
  width: 100%;
  position: relative;
}

.timeStamp {
  opacity: 0.3;
}
.placeholder {
  text-align: center;
  opacity: 0.3;
}
.profileImg {
  width: 40px;
  margin: 0 10px 0 0;
  color: var(--color);
  height: 40px;
  padding: 5px;
  border: 2px solid #e69500;
  transition:
    border-radius 0.5s ease,
    background-color 0.5s ease;
  border-radius: var(--radius);
}
.profileImg:hover {
  border-radius: 50%;
  background-color: var(--bg);
}

.postReactions {
  position: absolute;
  bottom: 12px;
  background: var(--bg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 4px 0;
  max-width: 100%;
}
.postReactions button {
  color: #ccc;
  background: none;
  padding: 0;
  margin: 0;
}
.postReactions button svg {
  width: 80px;
}

@media (max-width: 400px) {
  .postReactions button svg {
    width: 60px;
  }
}
