section.productContainer {
      width: 100%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 20px;
}
@media (max-width: 1000px) {
      section.productContainer {
            grid-template-columns: 1fr 1fr 1fr; 
      }
}
@media (max-width: 800px) {
      section.productContainer {
            grid-template-columns: 1fr 1fr; 
      }
}
@media (max-width: 600px) {
      section.productContainer {
            grid-template-columns: 1fr;
      }
}
.productItemContaine:hover {
      opacity: 0.8;
}
section.productContainer a {
      text-decoration: none;
}
.productItemContainer {
      margin: 10px 0;
      padding-bottom: 20px;
border: 1px solid #ffffff; 
      border-radius: var(--radius);
}
.productItemContainer h3, .productItemContainer p {
      margin: 0 6px;
}
.productItemContainer a{
      color: var(--color);
}
a.buyBtn {
      color: #000000;
        background: var(--btn-bg);
      margin: auto 10px;
      min-width: 90%;
      display: block;
      transition: all 0.2s ease;
      text-align: center;
      text-decoration: none;
        border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
a.buyBtn::after {
      content: "↗";
      opacity: 0;
      font-weight: 900;
      font-size: 1.1rem;
      border-radius: 4px;
      transition: opacity 0.5s ease, margin 0.5s ease;
}
a.buyBtn:hover:after {
      opacity: 1;
      margin-left: 10px;
}
a.buyBtn:hover {
      opacity: 0.8;
      transform: translateY(-2px);
}
.productItemContainer img {
      width: 100%;
      aspect-ratio: 3 / 2;
      border-radius: var(--radius);
}
.imgContainer {
      position: relative;
            width: 100%;
            overflow: hidden;
}
.imgContainer .textOverlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-weight: 700;
      bottom: 0;
      text-align: end;
padding-left: 12px;
      color: #ffffff;
      margin: 0;
      opacity: 0;
      z-index: 5;
      background-color: #00000060;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
}
.imgContainer p:hover {
      opacity: 1;
}

.productDetails {
      cursor: pointer;
      margin: 4px 20px;
      background: #0000004e;
      border-radius: var(--radius);
      border-bottom: 2px solid ;
      border-top: 1px solid ;
}
.productDetails summary {
      font-size: 1.1rem;
transition: background-color 0.5s ease;
}
.productDetails summary:hover {
      background-color: #282828;
}