section.productContainer {
      width: 100%;
      margin: 20px 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 10px;
}
@media (max-width: 1000px) {
      section.productContainer {
            grid-template-columns: 1fr 1fr 1fr; 
      }
}
@media (max-width: 800px) {
      section.productContainer {
            grid-template-columns: 1fr 1fr; 
      }
}
@media (max-width: 600px) {
      section.productContainer {
            grid-template-columns: 1fr;
      }
}
.productItemContaine:hover {
      opacity: 0.8;
}
section.productContainer a {
      text-decoration: none;
}
.productItemContainer {
      margin: 10px 0;
}
.productItemContainer a{
      color: var(--color);
}
a.buyBtn {
      color: #000000;
      transition: all 0.5s ease;
}
a.buyBtn:hover {
      opacity: 0.7;
}
.productItemContainer img {
      width: 100%;
      border-radius: var(--radius);
}
.imgContainer {
      position: relative;
            width: 100%;
             max-height: fit-content;
}
.imgContainer p {
      position: absolute;
      font-weight: 700;
      top: 0;
padding-left: 12px;
      color: #ffffff;
      margin: 0;
      opacity: 0;
      z-index: 5;
      background-color: #00000060;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
}
.imgContainer p:hover {
      opacity: 1;
}